vendor/plugins/logical_tabs
log/*.log
log/*.out
log/*.pid
tmp/**/*
tmp/.*
tmp/profile*
.DS_Store
doc/api
doc/app
doc/plugins
db/schema.rb
db/schema.sql
db/*.sqlite3*
db/*.sql
config/database.yml
files/*
public/photos/*
public/thumbnails
public/stylesheets/*.css
uuid.state
nbproject*
index/*
identifier
.project
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
rsa_key*
sphinx/*
sphinx_test/*

