%h1 Bars Controller
                                                                              
%p 
  This is a second controller for demonstration purposes, and to test that
  the plugin works with HAML as well as ERB.  

- wrap_in_div("some_id") do 
  %p This is some content in a div/paragraph nest.
