<h1>Foos Controller</h1>

<p>This is a controller just for demonstration purposes.  The tabbed panel is rendered
via ERB in this view.</p>

<%= link_to "See the Bars controller for a HAML example.", bars_path %> 

<% create_tabbed_panel do |tabbed_panel| %>
  <% tabbed_panel.add_tab("Tab One") do %>
    Content for Tab One
  <% end %>  
  <% tabbed_panel.add_tab("Tab Two") do %>
    Content for Tab Two
  <% end %>  
  <% tabbed_panel.add_tab("Tab Three") do %>
    <p>Content for Tab Three</p>
  <% end %>          
<% end %>
